{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container-fluid">
    <br>
</div>
<div class="container mt-5 bg-light">
    <div class="row">
        <div class="col">
            <p>Register screen</p>
        </div>
    </div>
</div>
{% endblock %}
