<div class="products-list">

    {# Loading icon for the products, spinner is removed after the first attempt to fetch products #}
    <div class="spinner-border loading-icon text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>


