<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}>
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        {% block body %}
        {% endblock %}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        {% block javascript_inline %}
        {% endblock %}
    </body>
</html>
