<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}>
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        {% block body %}
        {% endblock %}

        {# Flash messages #}
        <div class="toast-container position-absolute top-0 end-0 on-top">
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="toast align-items-center text-white bg-{{ label == 'success' ? 'primary' : 'danger' }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                        {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        {% block javascript_inline %}
        {% endblock %}
    </body>
</html>
